<div class="container sml">

  <h1>Tweets</h1>

<% if user_signed_in? %>
  <%= link_to "New tweet" , new_tweet_path, class: "btn btn-primary" %>
<% end %>


    <% for a in 1..(@tweets.length()) do  %>
        <% tweet = @tweets[@tweets.length()-a]  %>
        <%= render partial: "tweet", locals: { tweet: tweet, avatars: @avatars} %>
      <% end %>


</div>