@import "bootstrap";
@import "pages";
@import "auth";
@import "tweets";
@import "items";
@import "font-awesome";


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-space{
    display: flex;
    justify-content: space-between;
}

.box-auth{
    width: 400px;
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    display: flex;
    justify-content: center;
}