.jumbotron-home {
    background-image: url(image_path('background2.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;;
}